:root {
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media (max-width: 1440px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 81.25%;
  }
}

body {
  font: 400 1rem 'Open Sans', Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}
